/* 
 * Main and Only CSS file :)
 */
body {
	background-color: #FFFFFF;
}
 #container {
 	width: 100%;
 	max-width: 600px;
 	min-height: 600px;
 	margin: auto;
 	text-align: center;
 	font-family: 'Helvetica', 'Myriad Pro', 'Verdana', sans-serif;
 	background-color: #F9F9F9;
 	border-radius: 10px;
 	border-width: 1px;
 	border-radius: #00707F;
 	border-style: solid;
 }
 .subject {
 	overflow: auto;
 	max-width: 540px;
 	margin: 20px auto;
 }
.subject-label {
	margin-bottom: 5px;
	font-size: 18px;
	text-align: left;
}

/* Code to Make Radio Buttons Work as Toggle Source: http://jsfiddle.net/496c9/ */
 .buttons {
 	margin: 0px;
 	float: left;
 	display: inline-block;
 }

 .buttons label {
 	float: left;
 	width: 80px;
 	margin: 0px;
 	background-color: #FFFFFF;
 	overflow: auto;
 }

 .buttons label span {
 	text-align: center;
 	font-size: 16px;
 	padding: 6px 0px;
 	display: block;
 }

 .buttons label input {
 	position: absolute;
 	top: -20px;
 }

 .buttons input:checked + span {
 	background-color: #404040;
 	color: #F7F7F7;
 }

.buttons .red {
	background-color: #F44647;
}

.buttons .green {
	background-color: #03A678;
}

.buttons .grey {
	background-color: #E9EDEB;
	border-radius: 0px 5px 5px 0px;
}

/* Styling Progress Bars. Tutorial: http://css-tricks.com/html5-progress-element/ */
progress {
	width: 240px;
	height: 31px;
	display: inline-block;
	float: left;
	margin-right: 0px;
	appearance: none;
	-webkit-appearance: none;
}
progress::-webkit-progress-bar {
	background-color: #E9EDEB;
}
progress::-webkit-progress-value {
	border-radius: 5px 0px 0px 5px;
	background-color: 
}

/* Responsive CSS: For mobile devices and desktop specific styles */
@media (min-width: 600px) {
	.subject {
		width: 480px;
	}
}

@media (max-width: 320px) {
	.subject {
		width: 320px;
	}
	.buttons {
		width: 90%;
	}
	.buttons label {
		width: 30%;
	}
}